<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
	<property>
		<name>user_add</name>
		<value>insert into user_add values(?,?) ON DUPLICATE KEY UPDATE addCount=?</value>
	</property>

	 <property>
		<name>user_visit</name>
		<value>insert into user_visit values(?,?,?) ON DUPLICATE KEY UPDATE visitcount=?,visitAllCount=?</value>
	</property>
	<property>
		<name>member_add</name>
		<value>insert into member_add values(?,?,?) ON DUPLICATE KEY UPDATE addMember=?,memberAllCount=?</value>
	</property>
	<property>
		<name>member_visit</name>
		<value>insert into member_visit values(?,?) ON DUPLICATE KEY UPDATE memberCount=?</value>
	</property>
	
	<property>
		<name>session_add</name>
		<value>insert into session_add values(?,?) ON DUPLICATE KEY UPDATE sessionCount=?</value>
	</property>
	<property>
		<name>session_length</name>
		<value>insert into session_length values(?,?,?) ON DUPLICATE KEY UPDATE sessionChaValue=?,sessionAvgLength=?</value>
	</property>

	<!--<property>
		<name>driver</name>
		<value>com.mysql.jdbc.Driver</value>
	</property> -->

</configuration>
